html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  line-height: 160%;
}
header {
  padding: 0 1rem;
  background-color: #03A9F4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px #666;
}
header .logo {
  font-size: xx-large;
  color: #fff;
  padding: 16px;
}
main {
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}
main h2 {
  margin-top: 2em;
}
footer {
  text-align: center;
  padding: 20px;
  font-size: small;
  color: #999;
  border-top: 1px solid #eee;
}
a:link,
a:visited {
  color: #0288D1;
  text-decoration: none;
}
a:hover {
  color: #FF5722;
}
code {
  border-radius: 3px;
}
.notation {
  font-size: .8rem;
  color: #666;
}
main.index .slogan {
  margin: 100px 0;
}
main.index .slogan h1 {
  text-align: center;
  line-height: 200%;
  font-weight: 400;
}
main.index .slogan h3 {
  font-weight: 300;
  text-align: center;
  color: #666;
  font-family: "Helvetica Neue";
  font-size: 1.3rem;
}
main.index .change-logs {
  color: #666;
  margin: 1em 0;
  padding: 1em 3em;
  border-bottom: 1px solid #ccc;
}
main.index .differences em {
  color: #FF5722;
  font-style: normal;
}
